/* ----------------- */
/* RESET             */
/* ----------------- */
*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  line-height: 1.8;
  min-height: 100vh;
  width: 100%;
  background-color: orchid;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
}

input,
button,
textarea,
select {
  color: inherit;
  font: inherit;
}

hr {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

p {
  font-weight: 400;
}

h1 {
  line-height: 1.2;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
